/* Imports */
@import url(http://fonts.googleapis.com/css?family=Oxygen:300);

* {
	font-family: 'Oxygen', sans-serif;
}

/* Social icons */

.social-links {
	display: block;
	height: 50px;
	width: 100%;
	padding: 9px;
	float: right;
	margin-top: 1px;
	margin-bottom: 80px;
	bottom: 50px;
	background-color: #428bca;

}

.socialicons {
	height: 33px;
	widows: 200px;
	}

.socialicons li {
	float:left;
	display:inline;
	margin:0;
	padding:0;
	margin-right:2px;
}

.social-icons li:last-child {
	margin-right:0
}

.socialicons a.icons {
	width: 32px;
	height: 32px;
	display: inline-block;
	margin-right: 15px; 
	border-radius: 3px;
}

.socialicons a.icons:hover {
	background-color: white;
	
}


/*Navbar */
 .navbar.transparent {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.navbar h1 {
	font-size: 5.5em;
	color: #428bca;
	text-align: center;
}

.navbar-header {
	float: none;
}

/* Carousel */

.carousel .item{
	background-repeat: repeat;
	background-image: url(../img/carbon_fibre.png);
}

/* Media Queries */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.navbar h1 {
	font-size: 3em;
	};
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
	.navbar h1 {
	font-size: 4em;
	};
}

