* {
	margin: 0px;
	padding: 0px;
}

.col {
	width:50%;
	/*height:15em;*/
	/*background-color:#EBECFC;	*/
	display:block;
	float: left;
	text-align: center;
	padding: 20px 0 5px 0 ;
}

p {padding: 10px;}

header	{
	position: relative;
	background: url("http://rampup.github.io/frontEnd/exercises/beans.jpg") no-repeat center top;
	display: block;
	width: 100%;
	height: 280px;
}		

	img.logo {
		display: block;
		margin: 0 auto;
		padding-top: 30px;
	}

	.container {
		max-width: 1024px;
		width: 100%;
		height: 100%;
		display: block;
		margin: 0 auto;
		position: relative;
	}

	nav {
		background-color: rgb(24,11,6);
		color: #E3BE8A;
		margin: 0px;
		padding: 5px 0;
		position: absolute;
		width: 100%;
		bottom: -400px;
	}

		ul {
			text-align: center;
		}

			ul li {
				display: inline; 	
			}
					
			ul li a:link {color:#E3BE8A;text-decoration: none}
			ul li a:hover {color:red;}
			ul li a:visited {color:#E3BE8A;text-decoration: none}

section {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}

footer {
	text-align: center;
	clear: both;
	color: #E3BE8A;
	
}

footer p {
	padding: 25px 0; 
}

footer .container {
	background-color: rgb(24,11,6); 
}

@media  all and (max-width: 931px) {

	.col {
		display: block;
		width: 98%;
	}

@media only screen and  ( min-device-width: 320px) and (max-device-width: 568px) {
	
	header {
		width: 98%;
	}

	section{
		width: 320px;
		height: auto;
		margin: 0 2px 0 2px;
		width: 98%;
	}

	footer{
		height: auto;
		width: 98%;
	}

}