<div class="jumbotron">
  <h1>Hey, this is Chris</h1>
  <p class="lead">
    <img src="images/boston_seaport_to_downtown.jpg" alt="Boston Skyline" class="img-responsive"><br>
    Learning to use data to make the world smarter.
  </p>
</div>

<div class="row marketing">
  <h4>Data driven and product focused</h4>
  <p>
    Using Angular, Python, and D3 to see and learn.
  </p>

  <h4>Engineer by training</h4>
  <p>Aerospace/mechanical engineer. Helicopter and jet engine design and analysis.</p>
</div>
