$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

//fonts
@import url(http://fonts.googleapis.com/css?family=Cabin:700);

//variables
$title_font: 'Cabin', sans-serif;


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-left: 2px;
  margin-right: 2px;
  height: 50px;

    #email-btn{
      margin: auto, 0;
    }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

h1 {
  font: 3em $title_font;
}

ul {
  padding-left: 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 10px solid #e5e5e5;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  padding: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 15px;

  h1, .h1 {
    margin-top: 10px;
  }

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }

  img {
    margin-bottom: 15px;
  }
}

/* Supporting marketing content */
.marketing {
  margin-top: 15px 0;
  margin-bottom: 15px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;

    .jumbotron{
      padding-left: 2px;
      padding-right: 2px;
      border-bottom: 1px solid #e5e5e5;  
    }
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 2;
    padding-right: 2;
    margin-bottom: 2;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2px; 
    height: 50px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
      
  }
}

/* Social icons */

.socialicons {
  
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 6px;

  /*float:left;
  margin-top:18px;
  */

  li {
  float:left;
  display:inline;
  margin:0;
  padding:0;
  }

  li:last-child {
  margin-right:0
  }

  a.icons {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-left: 10px;
  background:url(../images/social-icons.png) no-repeat;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  }

  a.icons.sib {
  background-position: 0 0;
  }
  a.icons.sib:hover {
  background-position: 0 -33px;
  }
  a.icons.twitter {
  background-position: -33px 0;
  }
  a.icons.twitter:hover {
  background-position: -33px -33px;
  }
  a.icons.linkedin {
  background-position: -66px 0;
  } 
  a.icons.linkedin:hover {
  background-position: -66px -33px;
  }

}

